/*Start Nav*/
:root {
    --primary-color: #0984e3;
    --pink-color: #ef97eb;
    --blue-color: #74b9ff;
    --white-color: #ffffff;
    --light-color: #f5faff;
    --gray-color: #909090;
    --dark-color: #252525;



    --cotton-color: #EDEAE1;
    --jade-color: #C1C3AC;
    --dustyolive-color: #80866E;
    --evergreen-color: #013220;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--dark-color);
    -webkit-tap-highlight-color: transparent; 
}


.content-body {
/*    background-image: url("~/images/nakhlal.png") !important;*/
    background-color: var(--cotton-color) !important;
}

.border1 {
    border: 1px solid red !important;
}




input {
    background-color: var(--cotton-color) !important;
}
select {
    background-color: var(--cotton-color) !important;
}
