/*Start Nav*/
:root {
    --primary-color: #0984e3;
    --pink-color: #ef97eb;
    --blue-color: #74b9ff;
    --white-color: #ffffff;
    --light-color: #f5faff;
    --gray-color: #909090;
    --dark-color: #252525;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--dark-color);
    -webkit-tap-highlight-color: transparent; 
}




.border1 {
    border: 1px solid red !important;
}





