<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="">
    <title>NAKHLA EMBROIDERY</title>
    <script type="importmap"></script>
    <link rel="icon" type="image/svg+xml" href="~/Logo.png" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/26ef36b519.js" crossorigin="anonymous"></script>







</head>
<body>


    <!-- STRAT nav -->
    <div class="bg-dark text-black text-center py-2 small">
        <u>شحن مجاني</u> للطلبات المحلية بقيمة 1000 جنيه أو أكثر
    </div>
    <div class="site">
    <header>
        <div class="container1">
            <div class="content">
                <div class="left">
                    <a href="#" class="trigger"><i class="fa-solid fa-bars"></i></a>
                    <div class="logo"><a href="#">.shoper</a></div>
                </div>
                <div class="middle">
                    <nav>
                        <ul>
                            <li><a href="#">Pruducts</a></li>
                            <li><a href="#">Pruducts</a></li>
                            <li><a href="#">Pruducts</a></li>
                            <li><a href="#">Pruducts</a></li>
                            <li><a href="#">Pruducts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a href="#"><span class="num">0</span><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="#"><span class="num">3</span><i class="fa-regular fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- END nav -->
    @* <div class="container-fluid mt-5"> *@
    <main role="main" class="pb-3">
        <div class="container1">
            <div class="content">

                @RenderBody()
            </div>
        </div>
    </main>
    @* </div> *@


    <nav class="mobile-menu">
        <div class="mini">
            <a href="#" class="mini-close"><i class="fa-solid fa-xmark"></i></a>
            <div class="menu-head">
                <div class="top">
                    <ul>
                        <li><a href="#"><span class="num">0</span><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="#"><span class="num">3</span><i class="fa-regular fa-heart"></i></a></li>
                        <li><a href="#"><span class="num">0</span><i class="fa-solid fa-xmark"></i></a></li>
                        <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-globe"></i></a></li>
                    </ul>
                </div>
                <div class="logo"><a href="#">.shoper</a></div>
                <div class="socials">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i>></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wider">
            <div class="main-menu">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <form action="/">
                        <input type="search" value="" />
                    </form>
                </div>
                <div class="menu-list">
                    <ul>
                        <li class="has-child">
                            <a href="#"><span>Products</span><i class="fa-solid fa-arrow-right"></i></a>
                            <ul>
                                <li class="back"><a href="#"><span>Products</span><i class="fa-solid fa-arrow-left"></i></a></li>
                                <li><a href="#">Product1</a></li>
                                <li><a href="#">Product2</a></li>
                                <li><a href="#">Product3</a></li>
                                <li><a href="#">Product4</a></li>
                                <li><a href="#">Product5</a></li>
                                <li><a href="#">Product6</a></li>
                            </ul>
                        </li>


                        <li class="has-child">
                            <a href="#"><span>MoProduct</span><i class="fa-solid fa-arrow-right"></i></a>
                            <ul>
                                <li class="back"><a href="#"><span>Products</span><i class="fa-solid fa-arrow-left"></i></a></li>
                                <li><a href="#">Product1</a></li>
                                <li><a href="#">Product2</a></li>
                                <li><a href="#">Product3</a></li>
                                <li><a href="#">Product4</a></li>
                            </ul>
                        </li>


                        <li><a href="#"><span>Blog</span></a></li>


                        <li class="has-child">
                            <a href="#"><span>Product2</span><i class="fa-solid fa-arrow-right"></i></a>
                            <ul>
                                <li class="back"><a href="#"><span>Products</span><i class="fa-solid fa-arrow-left"></i></a></li>
                                <li><a href="#">Product1</a></li>
                                <li><a href="#">Product2</a></li>
                            </ul>
                        </li>



                        <li class="has-child">
                            <a href="#"><span>Product3</span><i class="fa-solid fa-arrow-right"></i></a>
                            <ul>
                                <li class="back"><a href="#"><span>Products</span><i class="fa-solid fa-arrow-left"></i></a></li>
                                <li><a href="#">Product1</a></li>
                                <li><a href="#">Product2</a></li>
                            </ul>
                        </li>


                        <li><a href="#"><span>contact</span></a></li>

                    </ul>
                </div>
                <div class="copyright"><p>{2023 made with belal alimam}</p></div>
            </div>
            
            <div id="bag">
                <span>cart</span><i class="fa-brands fa-whatsapp"></i>
            </div>
            <div id="wishlist">
                <span>wishlist</span><i class="fa-brands fa-whatsapp"></i>
            </div>
            <div id="compare">
                <span>compare</span><i class="fa-brands fa-whatsapp"></i>
            </div>
            <div id="account">
                <span>account</span><i class="fa-brands fa-whatsapp"></i>
            </div>
            <div id="lunguage">
                <span>lunguage</span><i class="fa-brands fa-whatsapp"></i>
            </div>
            

        </div>
    </nav>
    <div class="overlay"></div>


    </div>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="~/js/datatables-simple-demo.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
