.product-card {
    width: 280px;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: #fff;
}

    .product-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

.product-info {
    padding: 14px;
    text-align: center;
}

    .product-info h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

.rowProduct {
    border-top: 1px solid #eaeaea;
    font-size: 14px;
}

.split {
    display: flex;
    justify-content: space-between;
}

.bottom {
    font-weight: bold;
}

.price {
    color: #000;
}

.stock {
    color: #2aa84a;
}
@media (max-width: 991px) {
    .product-card {
        width: 200px;
    }

        .product-card img {
            height: 160px;
        }
}

/* Mobile */
@media (max-width: 575px) {

    .rowProduct {
        font-size: 13px;
       
    }

    .product-card img {
        height: 140px;
    }
}